@model DATC_Core.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .gallery {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: center;
        opacity: 0;
        pointer-events: none;
        transform: scale(0.8);
        transition: 0.5s;
    }

    .close {
        position: fixed;
        top: 15px;
        right: 25px;
        font-size: 35px;
    }


        .close:hover {
            background: rgba(0, 0, 0, 0.4);
            padding: 2px 0px 0px 1px
        }

    .gallery_inner {
        width: 70%;
        max-height: 99%;
    }

        .gallery_inner .gallery_img {
            height: 50%;
            width: 50%;
            display: flex;
            margin: auto auto;
        }

    .show {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1);
    }

    .hide {
        display: none;
    }
</style>

<section class="content my-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="~/Admin/Posts/Edit/@Model.PostId" class="text-white"><i class="fas fa-pen fa-xs"></i>&nbsp; Sửa</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Posts/Delete/@Model.PostId" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp;Xóa</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Posts/Index/@Model.PostId" class="text-white"><i class="fas fa-door-open fa-xs"></i>&nbsp;Thoát</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover">

                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.PostId)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.PostId)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.CateId)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Cate.CateName)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Title )</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Title)</td>
                    <tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Scontents)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Scontents)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Contents)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Contents)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Thumb)</th>
                        <td scope="col">
                            <img class="gallery-image" src="~/images/posts/@Model.Thumb" width="auto" height="150" alt="thumb" />
                        </td>

                    </tr>

                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Alias)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Alias)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Author)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Author)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.AccountId)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.AccountId)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.CreateDate)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.CreateDate)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Tags)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Tags)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.IsHot)</th>
                        <td scope="col">
                                    @if (Model.IsHot == true)
                                    {
                                <span><i class="fas fa-check" style="color: #19d21c;"></i></span>
                                    }
                                    else
                                    {
                                <span><i class="fas fa-times" style="color: #d8400e;"></i></span>

                                    }
                        </td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.IsNew)</th>
                        <td scope="col">
                                    @if (Model.IsNew == true)
                                    {
                                <span><i class="fas fa-check" style="color: #19d21c;"></i></span>
                                    }
                                    else
                                    {
                                <span><i class="fas fa-times" style="color: #d8400e;"></i></span>

                                    }
                        </td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.MetaKey)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MetaKey)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.MetaDesc)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MetaDesc)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Views)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Views)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Published)</th>
                        <td scope="col">
                                    @if (Model.Published == true)
                                    {
                                <span>Hiển thị</span>
                                    }
                                    else
                                    {
                                <span>Không hiển thị</span>

                                    }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
