@model DATC_Core.Models.Post

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="content py-2">
        <div class="container-fluid">
            <!--Content-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="text-csm">@ViewBag.Title</h5>
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-save"></i>&nbsp; Update
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/Posts/Index" class="text-white"><i class="fas fa-door-open"></i>&nbsp; Thoát</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.PostId)
                                @Html.HiddenFor(model => model.Thumb)
                                @Html.HiddenFor(model => model.CreateDate)
                                @Html.HiddenFor(model => model.Views)
                                @Html.HiddenFor(model => model.MetaKey)
                                @Html.HiddenFor(model => model.MetaDesc)

                                <div class="form-group">
                                    <label class="control-label col-md-2">Tựa đề</label>
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Mô tả</label>
                                    @Html.EditorFor(model => model.Scontents, new { htmlAttributes = new { @class = "form-control"  } })
                                    @Html.ValidationMessageFor(model => model.Scontents, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Nội dung</label>
                                    @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control"  } })
                                    @Html.ValidationMessageFor(model => model.Contents, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Tác giả</label>
                                    @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger"  })
                                </div>

                               @*  <div class="form-group">
                                    <label class="control-label col-md-2">Người dùng</label>
                                    @Html.EditorFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger"  })
                                </div> *@

                                <div class="form-group">
                                    <label class="control-label col-md-2">Nhãn</label>
                                    @Html.DropDownListFor(model=>model.Tags, (SelectList)ViewBag.cateList, "[Chọn tags]", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Danh mục</label>
                                    @Html.DropDownList("CateId", (SelectList)ViewData["DanhMuc"], "[Chọn thể loại]", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CateId, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label for="Thumb">Thumb</label>
                                    <br>
                                    @if (Model.Thumb != null)
                                    {

                                        <img src="~/images/posts/@Model.Thumb" class="pb-3" style="width: 150px;object-fit: contain;"  alt="avatar" />
                                    }
                                    else
                                    {

                                    }
                                    <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb">
                                    @Html.ValidationMessageFor(model => model.Thumb, "", new { @class = "text-danger"  })
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <label class="control-label col-md-3">Alias</label>
                                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger"  })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-10">Nổi bật</label>
                                @Html.DropDownListFor(model => model.IsHot,  new[] { new SelectListItem { Value = "0", Text = "Có" },new SelectListItem { Value = "1", Text = "Không" } }, "[Nổi bật]" , new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsHot, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-10">Mới</label>
                                @Html.DropDownListFor(model => model.IsNew,  new[] { new SelectListItem { Value = "0", Text = "Có" },new SelectListItem { Value = "1", Text = "Không" }}, "[Mới]", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsNew, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-10">Trạng thái</label>
                                @Html.DropDownListFor(model => model.Published,  new[] { new SelectListItem { Value = "true", Text = "Hiển thị" },new SelectListItem { Value = "false", Text = "Không hiển thị" }, }, "[Trạng thái]", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


