@model IEnumerable<DATC_Core.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content py-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="~/Admin/Posts/Create" class="text-white"><i class="fas fa-plus fa-xs"></i>&nbsp; Thêm mới</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Posts/Trash" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp; Thùng rác (@(ViewBag.count_trash ?? "?"))</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="cate1" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center no-sort" style="width:3rem;">ID</th>
                            <th class="no-sort">Tựa đề</th>
                            <th class="no-sort">SContent</th>
                            <th class="no-sort text-center" style="width:10rem">Danh mục</th>
                            <th class="no-sort text-center" style="width:10rem">Alias</th>
                            <th class="no-sort text-center" style="width:10rem">Author</th>
                            <th class="no-sort text-center" style="width:10rem">Tags</th>
                            <th class="no-sort text-center" style="width:10rem">Views</th>
                            <th class="no-sort text-center" style="width:10rem">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.PostId)</td>
                                <td>
                                    <a href="~/Admin/Posts/Details/@Html.DisplayFor(modelItem => item.PostId)">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </a>
                                </td>
                                <td>  @Html.DisplayFor(modelItem => item.Scontents)</td>
                                <td class="text-center">@item.CateId</td>
                                <td class="text-center">@item.Alias</td>
                                <td class="text-center">@item.Author</td>
                                <td class="text-center">@item.Tags</td>
                                <td class="text-center">@item.Views</td>
                                <td class="text-center">
                                    <label class="switch">
                                        @if (item.Published == true)
                                        {
                                            <input class="changeStatus" data-id="@item.PostId" data-controller="Posts" type="checkbox" checked>
                                        }
                                        else
                                        {
                                            <input class="changeStatus" data-id="@item.PostId" data-controller="Posts" type="checkbox">
                                        }
                                        <span class="slider round"></span>
                                    </label>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <a href="@Url.Action("Edit", "Posts", new { id = item.PostId })" class="text-white"><i class="fas fa-pen"></i></a>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Xóa">
                                        <a href="@Url.Action("Delete", "Posts", new { id = item.PostId })" class="text-white"><i class="far fa-trash-alt"></i></a>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
