@model DATC_Core.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section class="content my-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="~/Admin/Customers/Edit/@Model.CustomerId" class="text-white"><i class="fas fa-pen fa-xs"></i>&nbsp; Sửa</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Customers/Delete/@Model.CustomerId" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp;Xóa</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Customers/Index/@Model.CustomerId" class="text-white"><i class="fas fa-door-open fa-xs"></i>&nbsp;Thoát</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover">

                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.CustomerId)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.CustomerId)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.FullName )</th>
                        <td scope="col">  @Html.DisplayFor(model => model.FullName)</td>
                    <tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Email)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Phone)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Address)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Dob)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Dob)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Password)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Location)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Location)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.District)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.District)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Ward)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Ward)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Avatar)</th>
                        @* <td scope="col"> <img src="~/images/customers/@Model.Avatar" alt="avatar" /></td> *@
                        <td scope="col"> <img src="~/images/customers/@Model.Avatar" width="auto" height="150" alt="avatar" /></td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.CreateDate)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.CreateDate)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.ModifiedDate)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.ModifiedDate)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.LastLogin)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.LastLogin)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Active)</th>
                        <td scope="col">
                                    @if (Model.Active == true)
                                    {
                                <p>Đã kích hoạt</p>
                                    }
                                    else
                                    {
                                <p>Chưa kích hoạt</p>

                                    }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

