@model DATC_Core.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="content py-2">
        <div class="container-fluid">
            <!--Content-->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="text-csm">@ViewBag.Title</h5>
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-save"></i>&nbsp; Save
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/Products/Index" class="text-white"><i class="fas fa-door-open"></i>&nbsp; Thoát</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <label class="control-label col-md-2">Tên sản phẩm</label>
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control"} })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Mô tả</label>
                                    @Html.EditorFor(model => model.ShortDesc, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ShortDesc, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Chi tiết</label>
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control"  } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Nhãn</label>
                                    @Html.DropDownListFor(model=>model.Tags, ViewBag.cateList as SelectList, "[Chọn tags]", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">MetaKey</label>
                                    @Html.EditorFor(model => model.MetaKey, new { htmlAttributes = new { @class = "form-control"  } })
                                    @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">MetaDesc</label>
                                    @Html.EditorFor(model => model.MetaDesc, new { htmlAttributes = new { @class = "form-control"  } })
                                    @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label for="Thumb">Thumb</label>
                                    <input name="fThumb" type="file" class="form-control-file" asp-for="Thumb">
                                    @Html.ValidationMessageFor(model => model.Thumb, "", new { @class = "text-danger"  })
                                </div>

                                <div class="form-group">
                                    <label for="Video">Video</label>
                                    <br>
                                    <input name="fVideo" type="file" class="form-control-file" asp-for="Video">
                                    @Html.ValidationMessageFor(model => model.Video, "", new { @class = "text-danger"  })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">

                            <div class="form-group">
                                <label class="control-label col-md-5">Tiêu đề</label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger"  })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5">Danh mục</label>
                                @Html.DropDownListFor(model=>model.CateId, ViewBag.cateList as SelectList, "Chọn thể loại", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CateId, "", new { @class = "text-danger"  })
                            </div>

                            @*<div class="form-group">
                        <label class="control-label col-md-5">Danh mục</label>
                        <select class="form-control select2" asp-items="ViewBag.DanhMuc" asp-for="CateId">
                        <option selected="selected" disabled>Chọn danh mục</option>
                        </select>
                        </div> *@

                            <div class="form-group">
                                <label class="control-label col-md-5">Alias</label>
                                @Html.EditorFor(model => model.Alias, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Alias, "", new { @class = "text-danger"  })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5">Giá bán</label>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger"  })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5">Discount</label>
                                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger"  })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-5">Tồn kho</label>
                                @Html.EditorFor(model => model.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UnitsInStock, "", new { @class = "text-danger"  })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-10">Trang đầu</label>
                                @Html.DropDownListFor(model => model.IsHome,  new[] { new SelectListItem { Value = "true", Text = "Có" },new SelectListItem { Value = "false", Text = "Không" } }, "[Trang đầu]" , new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IsHome, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-10">Bán chạy</label>
                                @Html.DropDownListFor(model => model.BestSeller,  new[] { new SelectListItem { Value = "true", Text = "Có" },new SelectListItem { Value = "false", Text = "Không" }}, "[Bán chạy]", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BestSeller, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-10">Trạng thái</label>
                                @Html.DropDownListFor(model => model.Active,  new[] { new SelectListItem { Value = "true", Text = "Hiển thị" },new SelectListItem { Value = "false", Text = "Không hiển thị" }, }, "[Trạng thái]", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


