@model DATC_Core.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content my-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="~/Admin/Products/Edit/@Model.ProductId" class="text-white"><i class="fas fa-pen fa-xs"></i>&nbsp; Sửa</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Products/Delete/@Model.ProductId" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp;Xóa</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/Products/Index/@Model.ProductId" class="text-white"><i class="fas fa-door-open fa-xs"></i>&nbsp;Thoát</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover">

                    <tr>
                        <th scope="col"> ID</th>
                        <td scope="col">  @Html.DisplayFor(model => model.ProductId)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Tên sản phẩm</th>
                        <td scope="col">  @Html.DisplayFor(model => model.ProductName)</td>
                    <tr>
                    <tr>
                        <th scope="col"> Mô tả</th>
                        <td scope="col">  @Html.DisplayFor(model => model.ShortDesc)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Chi tiết</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Description)</td>
                    <tr>
                    <tr>
                        <th scope="col"> Danh mục</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Cate.CateName)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Giá</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Price)</td>
                    <tr>
                    <tr>
                        <th scope="col"> Giảm giá</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Discount)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Ảnh bìa</th>
                        <td scope="col">
                            <img width="200" src="~/images/products/@Model.Thumb" alt="@Model.Title" />
                        </td>
                    <tr>
                    <tr>
                        <th scope="col"> Video</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Video)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Ngày tạo</th>
                        <td scope="col">  @Html.DisplayFor(model => model.CreateDate)</td>
                    <tr>
                    <tr>
                        <th scope="col"> Lần chỉnh sửa cuối</th>
                        <td scope="col">  @Html.DisplayFor(model => model.ModifiedDate)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Bán chạy</th>
                        <td scope="col">
                                                                    @if (Model.BestSeller == true)
                                                                    {
                                <span>Có</span>
                                                                    }
                                                                    else if (Model.BestSeller == false)
                                                                    {
                                <span>Không</span>
                                                                    }
                                                                    else
                                                                    {
                                <span>Không xác định</span>
                                                                    }
                        </td>
                    <tr>
                    <tr>
                        <th scope="col"> Trang đầu</th>
                        <td scope="col">
                                                                            @if (Model.BestSeller == true)
                                                                            {
                                <span>Có</span>
                                                                            }
                                                                            else if (Model.BestSeller == false)
                                                                            {
                                <span>Không</span>
                                                                            }
                                                                            else
                                                                            {
                                <span>Không xác định</span>
                                                                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="col"> Trạng thái</th>
                        <td scope="col">
                                                                            @if (Model.Active == true)
                                                                            {
                                <span>Đã kích hoạt</span>
                                                                            }
                                                                            else
                                                                            {
                                <span>Chưa kích hoạt</span>
                                                                            }
                        </td>
                    <tr>
                    <tr>
                        <th scope="col"> Tiêu đề</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Nhãn</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Tags)</td>
                    <tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Alias)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Alias)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.MetaDesc)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MetaDesc)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.MetaKey)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MetaKey)</td>
                    </tr>
                    <tr>
                        <th scope="col"> Tồn kho</th>
                        <td scope="col">  @Html.DisplayFor(model => model.UnitsInStock)</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

