@model IEnumerable<DATC_Core.Models.Product>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Quản lý Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content py-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="text-csm">@ViewBag.Title</h5>
                        </div>
                        @* <div class="col-3">

                        <label for="exampleSelectBorder">Chọn danh mục</label>
                        <select class="custom-select form-control-border" id="exampleSelectBorder">
                        <option>Value 1</option>
                        <option>Value 2</option>
                        <option>Value 3</option>
                        </select>
                        </div>*@
                        
                        <div class="col-4">
                            <select class="form-control select2" id="txtCateID" name="txtCateID" asp-items="ViewBag.DanhMuc" style="width: 100%; height:auto !important">
                                <option selected="selected" disabled>Chọn danh mục</option>
                                <option value="0">All</option>
                                @* @foreach (var item in Model)
                                {
                                    <option>@item.Cate.CateName</option>
                                } *@
                            </select>
                            @*  <div class="form-group">
                            </div> *@
                        </div>
                        <div class="col-4">
                            <div class="float-right pt-1">
                                <button type="button" class="btn btn-primary btn-sm">
                                    <a href="~/Admin/Products/Create" class="text-white"><i class="fas fa-plus fa-xs"></i>&nbsp; Thêm mới</a>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    <a href="~/Admin/Products/Trash" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp; Thùng rác (@(ViewBag.count_trash ?? "?"))</a>
                                </button>
                            </div>
                        </div>
                        @* <div class="col-md-3">
                            <select class="form-control select2" style="width: 100%; height:auto !important">
                                <option selected="selected" disabled>Status</option>
                                <option value="0">All</option>
                                @* @foreach (var item in Model)
                                {
                                <option>@item.Active</option>
                                }
                            </select>
                            @*  <div class="form-group">
                            </div>
                        </div> *@
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" style="width:3rem;">ID</th>
                                <th class="text-center" style="width:10rem;">Tên sản phẩm</th>
                                <th class="no-sort text-center" style="width:10rem">Loại sản phẩm</th>
                                <th class="no-sort text-center" style="width:5rem">Giá bán</th>
                                <th class="no-sort text-center" style="width:5rem">Discount</th>
                                <th class="no-sort text-center" style="width:5rem">Tồn kho</th>
                                <th class="no-sort text-center" style="width:5rem">Status</th>
                                <th class="no-sort text-center" style="width:5rem">Bán chạy</th>
                                <th class="no-sort text-center" style="width:10rem">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@Html.DisplayFor(modelItem => item.ProductId)</td>
                                    <td>
                                        <a href="~/Admin/Products/Details/@Html.DisplayFor(modelItem => item.ProductId)">
                                            @Html.DisplayFor(modelItem => item.ProductName)
                                        </a>
                                    </td>
                                    <td>
                                        <a href="~/Admin/AdminCategories/Details/@Html.DisplayFor(modelItem => item.CateId)">
                                            @Html.DisplayFor(modelItem => item.Cate.CateName)
                                        </a>
                                    </td>
                                    <td class="text-center">@item.Price.Value.ToString("#,##0") VND</td>
                                    <td class="text-center">@item.Discount.Value.ToString("#,##0") VND</td>
                                    <td class="text-center">@item.UnitsInStock</td>
                                    <td class="text-center">
                                        @if (item.UnitsInStock.Value > 0)
                                        {
                                            <p>Còn hàng</p>
                                        }
                                        else
                                        {
                                            <p>Hết hàng</p>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (item.BestSeller == true)
                                        {
                                            <p><i class="fas fa-check" style="color: #19d238;"></i></p>
                                        }
                                        else if (item.BestSeller == false)
                                        {
                                            <p><i class="fas fa-times" style="color: #df0c0c;"></i></p>
                                        }
                                        else
                                        {
                                            <p><i class="fas fa-sync-alt fa-spin" style="color: #777b83;"></i></p>
                                        }
                                    </td>
                                    <td class="text-center">
                                        <label class="switch">
                                            @if (item.Active == true)
                                            {
                                                <input class="changeStatus" data-id="@item.ProductId" data-controller="Products" type="checkbox" checked>
                                            }
                                            else
                                            {
                                                <input class="changeStatus" data-id="@item.ProductId" data-controller="Products" type="checkbox">
                                            }
                                            <span class="slider round"></span>
                                        </label>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                            <a href="@Url.Action("Edit", "Products", new { id = item.ProductId })" class="text-white"><i class="fas fa-pen"></i></a>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Xóa">
                                            <a href="@Url.Action("Delete", "Products", new { id = item.ProductId })" class="text-white"><i class="far fa-trash-alt"></i></a>
                                        </button>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#txtCateID").change(function () {
                var cateID = jQuery(this).children(":selected").attr("value");
                cateID = parseFloat(cateID);
                $('#txtCateID option').removeAttr('selected');
                $("#txtCateID>[value=" + cateID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/Products/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CateId = cateID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                })
            })
        })
    </script>
}